{% extends "base.html" %}
{% block content %}
    <h1>User: {{user.username}}</h1>
    <hr>
    {%for item in todo_item%}
    <p>
      {{item.user.username}} to do is <b>{{ todo_items.items }}</b>
    </p>
    {%endfor%}

    {% if user == current_user %}
    <form action ="" method="post">
      {{form.hidden_tag()}}
      <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}<br>
        {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>

      <ul>
        {{form.items.label}}<br>
        {{form.items(cols=50,rows=100)}}<br>
        {%for error in form.items.errors%}
        <span style = "color:red;">[{{error}}]</span>
        {% endfor %}

        <!-- {% for item in items %}
          <li>
            {% if item.completed %}
              <del>{{item.content}}</del>
            {% else %}
              {{item.content}} <a href="{{url_for('completed_item', id = Todo_item.id)}}">Completed</a>
            {% endif %}
              <a href="{{url_for('delete_item', id = Todo_item.id)}}">Delete</a>
          </li>
        {% endfor %} -->
      </ul>
      <p> {{form.submit()}}</p>
    {% endif %}
{% endblock %}
