{% extends "base.html" %}

{% block content %}
    <h1>Hi: {{user.username}}</h1>
    <hr>
      <p>
      {%for item in todo_item%}
      {{item.user.username}} to do is <b>{{ todo_items.items }}</b>
      {%endfor%}
     </p>

    <form action ="" method="post">
        {{form.hidden_tag()}}
      <!-- <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}<br>
        {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p> -->
      <p>
        {{form.items.label}}
        {{form.items(cols=50,rows=1)}}
        {%for error in form.items.errors%}
        <span style = "color:red;">[{{error}}]</span>
        {% endfor %}  {{form.submit()}}
      </p>
      </form>

        <!-- {% for item in items %}
          <li>
            {% if item.completed %}
              <del>{{item.content}}</del>
            {% else %}
              {{item.content}} <a href="{{url_for('completed_item', id = Todo_item.id)}}">Completed</a>
            {% endif %}
              <a href="{{url_for('delete_item', id = Todo_item.id)}}">Delete</a>
          </li>
        {% endfor %} -->

{% endblock %}
